mixin footer()
	+b.FOOTER.footer
		.container
			+e.logo(href="/")
				img(src="../img/svg/CLAGE-Logo.svg" loading="lazy" alt='html')
			+e.row.row
				+e.mainAdress.col-6.col-lg-3
					+e.title CLAGE #[span GmbH]
					+e.contentAdress
						span Pirolweg 1-5, 21337 Lüneburg, Germany
						+e.linksBox
							a(href="tel:+49413189010") +49 4131 89010
							a(href="mailto:info@clage.de") info@clage.de
						+e.link.mt-3(href='www.clage.com' target="_blank") www.clage.com
				+e.localAdress.col-6.col-lg-3
					+e.title.mb-0 CLAGE-RUSSIA
					+e.contentAdress
						+e.gray
							| Эксклюзивный поставщик
							br
							| на территории РФ
					+e.linksBox
						a(href="tel:+74957418510") +7 (495) 741-85-10
						a(href="tel:+74952900585") +7 (495) 290-05-85
						a(href="mailto:info@clage-russia.ru") info@clage-russia.ru
					+e.link(href='clage-russia.ru' target="_blank") clage-russia.ru
				+e.socials.col-6.col-lg-3
					+e.title ПРИСОЕДНАЙСЯ
					+soc()
				+e.information.col-6.col-lg-3
					+e.title ИНФОРМАЦИЯ
					+e.menuContainer
						ul.menu
							li.menu-item
								a(href="#") Правила участия в конкурсе
							li.menu-item
								a(href="#") Data privacy
							li.menu-item
								a(href="#") Use of cookies
							li.menu-item
								a(href="#") Imprint
			+e.copyright
				| Copyright ©
				|
				span.set-curr-year-js 2021
				|
				| CLAGE GmbH. All rights reserved.

