.footer {
	margin-top: auto;

	// mobile first
	//background-color: transparent;
	//@include media-breakpoint-up(sm){
	//	background-color: green;
	//}
	@include media-breakpoint-down(xl) {
		.footer__row {
			--bs-gutter-y: 50px;
		}
		.footer__linksBox{
			margin-bottom: 20px;
		}
		.footer__contentAdress{
			span{
				margin-bottom: 40px;
			}
		}

	}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {
	.footer__row {
		--bs-gutter-y: 70px;
	}
	.footer__linksBox{
		margin-bottom: 20px;
	}
	.footer__contentAdress{
		span{
			margin-bottom: 18px;
		}
	}
}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
.footer{
	&__link{
		display:block;
	}
	&__row{
		padding-top: 2px;
		margin-bottom: rem(36);
	}
	&__logo{
		img {
			margin-bottom: rem(40);
		}
	}
	&__title{
		letter-spacing: 0.1em;
		margin-bottom: rem(18);
		font-size: rem(16);
		line-height: calc(18/16);
		span{
			letter-spacing: 0;
		}
	}
	&__mainAdress{
		letter-spacing: 0;
		font-size: rem(16);
		line-height: calc(18/16);
	}
	&__contentAdress{
		padding-right: rem(10);
		letter-spacing: 0;
		span{
			display: inline-block;
			margin-bottom: 17px;
		}
	}
	&__linksBox {
		letter-spacing: 0;
		margin-bottom: rem(15);
		font-size: rem(16);
		line-height: calc(18/16);
		a{
			color: black;
			display: block;
		}
	}
	&__gray{
		color: grey;
		font-size: rem(13);
		line-height: 1.369230769;
		padding-bottom: rem(18);
	}
	&__copyright{
		font-size: rem(13);
		line-height: calc(18/13);
		color: #7B8386;
	}
	&__menuContainer{
		.menu{
			list-style: none;
			.menu-item{
				font-size:rem(16);
				line-height: calc(18/16);
				margin-bottom: rem(10);
			}
		}
	}
	.soc{
		&__item{
			width: rem(48);
			img{
				height: auto;
				width: 100%;
			}

		}
	}
}

