.headerBlock {
	@include media-breakpoint-down(xl) {
		.card1__img-box{
			img{
				width: 101%	;
			}
		}
	}
	@include media-breakpoint-down(sm){
		.navbtns{
			.col-auto{
				padding: 0;
			}
			&__arrowbtn{
				width: 30px;
				height: 30px;
			}
			&__txt-btn{
				span{
					display: none;
				}
		}
			&__btn{
				width: 30px;
				height: 30px;
				padding: 2px;
				font-size: rem(16);
			}
		}

	}
	&__row{
		--bs-gutter-y: #{rem(30)};
		margin-bottom: 54px;
		background-color: $white;
	}
	margin-bottom: 1px;
	min-height: 100vh;
	min-height: calc(var(--vh, 1vh) * 100);
	// background-image: url(../img);
	// background-color: #000000;
	padding-top: 1px;
	margin-top: 1px;
	padding-bottom: rem(150);

	h1 {
		margin-bottom: 1px;
	}

	h2 {
		margin-bottom: 1px;
	}

}
.section-title{
	h1{
		font-weight: 400;
		font-size: rem(26);
		padding-top: rem(99);
		letter-spacing: 0.1em;
		padding-right: rem(3);
		margin-bottom: rem(53);
	}
}

.card1 {
	&__box {
		background-color: var(--box-bc, $white);
		padding: 0;
		box-shadow: 0 rem(8) rem(16) 0 #5057690D;
		border-radius: rem(9);
	}

	&__video {
		display: block;
		z-index: 1;
		position: relative;
		height: 0;
		padding-top: calc(146 / 263 * 100%);
		border-radius: 8px 8px 0 0;
		overflow: hidden;

		&:hover {
			--play-scale:1.1;
			--background-color-green: #{$green};
			--border-defalt-green:1 px solid #{$green};
		}
	}
	&__img-box {
		display: block;
		img {
			transform: scale(var(--play-scale,1));
			top: 0;
			left: 0;
			transition: all .3s ease-in-out;
			position: absolute;
			z-index: -1;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__watches {
		background-color: $black;
		border-radius: rem(2);
		color: $white;
		width: auto;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		left: rem(20);
		bottom: 10px;

		img {
			width: rem(20);
			height: rem(12);
			margin-left: rem(4);
		}

		span {
			font-size: rem(13);
			width: auto;
			height: auto;
			font-weight: 700;
			margin-left: 5px;
			padding: rem(1) rem(6) 0 0;
		}
	}

	&__plays {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%) scale(var(--play-scale,1));
		background-color: var(--background-color-green, transparent) ;
		border-radius: 50%;
		border: var(--border-defalt-green ,1px solid white );
		width: rem(50);
		height: rem(50);
		.triangle-play{
			border-left: 18px solid $white;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-40%) translateY(-50%) scale(var(--play-scale,1));
		}
	}
	&__videoTime {
		position: absolute;
		bottom: 10px;
		//left: rem(212);
		right: 14px;
		background-color: $black;
		color: $white;
		border-radius: rem(2);
		width: rem(37);
		height: rem(20);
		font-weight: 700;
		font-size: rem(13);
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: calc(16 / 13);
	}

	&__another {
		padding: 10px 20px 30px 20px;
	}

	&__namevideo {
		line-height: 1.3;
		font-size: rem(16);
		font-weight: 400;
		margin-bottom:var(--margin-for-namevideo, 19px);
		color: $black !important;
		display: block;

	}

	&__likes {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: var(--likes-margin , 39px);
		padding-left: 21px;
		.fingerAmount{
			display: block;
			font-weight: 700;
			font-size: rem(26);
			line-height: calc(31 / 26);
			padding-top: 5px;
			padding-right: 14px;
			padding-left: 11px;
		}
		.finger{
			background-image: var(--image-finger, url("../img/svg/like2.png"));
			width: 36px;
			height: 40px;
		}
	}

	&__btn {
		@extend .btn;
		@extend .btn-outline-primary;
		font-size: rem(13);
		line-height: calc(15.6/13);
		letter-spacing: 0.1em;
		display: block;
		width: 100%;
		background-color: var(--card-btn-bc  $white);
		&--vote{
			color:var(--vote-color , $black) !important;
			padding: 11px 44px;
			display: var(--vote-display, inline-block);
			&:hover{
				--card-btn-bc: #{$green};
				--vote-color: #{$white} !important;
			}
		}
		&--thanks{
			margin: 0;
			padding: 12px 0 ;
			display:var(--thanks-display ,none);
			color: $black !important;
			background-color: $green;
			cursor: var(--cursor,pointer) !important;
		}
	}
	&.active {
		--box-bc: #{$green};
		--image-finger: url("../img/svg/like1.svg");
		--vote-display: none;
		--thanks-display:inline-block;
		--likes-margin: 23px;
		--margin-for-namevideo:33px;

	}
}
.navbtns{
	align-items: center;
	&__arrowbtn{
		//box-shadow:0 8px 16px 0, #50576940;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		&--lft{
			background-color: $gray-610;
		}
		&--rght{
			background-color: $green ;

		}
	}
	&__txt-btn{
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
		@extend .btn;
		display: flex;
		justify-content: center;
		align-items: center;
		span{
			text-transform: uppercase;
			padding:6px 13px 0 13px;
			letter-spacing: 0.1em;
			color: $black;
		}
	}

	&__btn{
		@extend .btn;
		border-radius: rem(24);
		width: 48px;
		height: 48px;
		padding:0 10px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-right: 5px;
		&:last-child{
			margin-right: 0;
		}
		font-size: rem(21);
		line-height: calc(25/21);

		border: 1px solid var(--btn-border, $gray-80);
		background-color: $white;
		&:hover{
			--btn-border: #{$green};
		}

		&.current{
			border: 1px solid $green;
			background-color: $green;
			color: $white;
		}
	}
	&__{}
	&__{}
	&__{}
}
.muted{
	border-color: $gray-80 !important;
	color: $gray-80 !important;
	pointer-events: none;
}