mixin headerBlock()
    // start headerBlock
    +b.headerBlock.section#headerBlock&attributes(attributes)
        .container
            .section-title.text-center
                h1 КОНКУРС НА ЛУЧШИЙ ВИДЕОБЗОР УЗЛА ВВОДА
            .row.section-cards
                .col-3
                    +CardBlock1("../img/Rectangle180.png","Leon Thomas - The Creator Has a Master Plan (Official Audio)",13)
                .col-3
                    +CardBlock1("../img/Rectangle280.png","Leon Thomas - The Creator Has a Master Plan (Official Audio)",42)
                .col-3
                    +CardBlock1("../img/Rectangle380.png","Leon Thomas - The Creator Has a Master Plan (Official Audio)",76)
                .col-3
                    +CardBlock1("../img/Rectangle480.png","Leon Thomas - The Creator Has a Master Plan (Official Audio)",88)
                .col-3
                    +CardBlock1("../img/Rectangle580.png","Leon Thomas - The Creator Has a Master Plan (Official Audio)",98)
                .col-3
                    +CardBlock1("../img/Rectangle680.png","Leon Thomas - The Creator Has a Master Plan (Official Audio)",54)
                .col-3
                    +CardBlock1("../img/Rectangle780.png","Leon Thomas - The Creator Has a Master Plan (Official Audio)",27)
                .col-3
                    +CardBlock1("../img/Rectangle880.png","Leon Thomas - The Creator Has a Master Plan (Official Audio)",11)
            +b.navbtns.row.justify-content-between
                +e.ArrowBtnBox.col-auto
                    +e.arrowbtn--lft
                        img(src="../img/arrowlft.png")
                    span НАЗАД
                +e.NumBtnBox.col-auto
                    +e.btn.active(type="button") 1
                    +e.btn.nextActive(type="button") 2
                    +e.btn.noActive(type="button") 3
                +e.ArrowBtnBox.col-auto
                    span ДАЛЕЕ
                    +e.arrowbtn--rght
                        img(src="../img/arrowrght.png")

mixin CardBlock1(img,txt,likes)
    +b.card1
        +e.box
            +e.video
                +e.videoImg(src= img)
                +e.watches
                    img(src ="../img/Watches.png" )
                    span 45
                +e.plays
                    img(src= "../img/Playbutton1.png")
                +e.videolikes
                    span 4:28
            +e.another
                +e.namevideo Leon Thomas - The Creator Has a Master Plan (Official Audio)
                +e.likes
                    .finger
                    span.fingerAmount= likes
                +e.btn--vote(type="button") ПРОГОЛОСОВАТЬ
                +e.btn--thanks(type="button") СПАСИБО ЗА АКТИВНОСТЬ!
