mixin headerBlock()
    // start headerBlock
    +b.headerBlock.section#headerBlock&attributes(attributes)
        .container
            .section-title.text-center
                h1 КОНКУРС НА ЛУЧШИЙ ВИДЕОБЗОР УЗЛА ВВОДА
            +e.row.row
                +CardBlock1(1,"Leon Thomas - The Creator Has a Master Plan (Official Audio)",13)
                +CardBlock1(2,"Leon Thomas - The Creator Has a Master Plan (Official Audio)",42)
                +CardBlock1(3,"Leon Thomas - The Creator Has a Master Plan (Official Audio)",76)
                +CardBlock1(4,"Leon Thomas - The Creator Has a Master Plan (Official Audio)",88)
                +CardBlock1(5,"Leon Thomas - The Creator Has a Master Plan (Official Audio)",98)
                +CardBlock1(6,"Leon Thomas - The Creator Has a Master Plan (Official Audio)",54)
                +CardBlock1(7,"Leon Thomas - The Creator Has a Master Plan (Official Audio)",27)
                +CardBlock1(8,"Leon Thomas - The Creator Has a Master Plan (Official Audio)",11)
            +b.navbtns.row.justify-content-between
                .col-auto
                    +e.txt-btn--prev(href="#")
                        +e.arrowbtn--lft
                            img(src="../img/svg/arrowLeft.svg")
                        span НАЗАД
                .col-auto
                    +e.btn.current(href="#") 1
                    +e.btn(href="#") 2
                    +e.btn(href="#") 3
                .col-auto
                    +e.txt-btn--next(href="#")
                        span ДАЛЕЕ
                        +e.arrowbtn--rght
                            img(src="../img/svg/arrowRight.svg")

mixin CardBlock1(imgNum,txt,likes)
    .col-xl-3.col-md-6
        +b.card1
            +e.box
                +e.video(href="#")
                    +e.img-box
                         img(src= `img/@2x/CardBlock1-${imgNum}.png`)
                    +e.watches
                        img(src ="../img/svg/watches.svg" )
                        span 45
                    +e.plays
                        //img(src= "../img/svg/playButton.svg")
                        .triangle-play
                    +e.videoTime
                        span 4:28
                +e.another
                    +e.namevideo Leon Thomas - The Creator Has a Master Plan (Official Audio)
                    +e.likes
                        .finger
                        span.fingerAmount= likes
                    +e.btn--vote(type="button") ПРОГОЛОСОВАТЬ
                    +e.btn--thanks(type="button") СПАСИБО ЗА АКТИВНОСТЬ!