mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span
mixin mob-mnu()
	+b.mob-menu.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.logo(href='/')
				img(src="img/svg/CLAGE-Logo.svg" loading="lazy" alt='html')
			+e.link
				+TopNavLink("tel:+7 (495) 741-85-10","+7 (495) 741-85-10","phoneblock", 'img/svg/phone1.svg')
			+e.link
				+TopNavLink("tel:+7 (495) 290-05-85","+7 (495) 290-05-85","phoneblock" ,'img/svg/phone1.svg')
			+e.link
				+TopNavLink('mailto:info@clage-russia.ru','info@clage-russia.ru',"mailblock",'img/svg/Mail.svg')
			ul.menu
				li.menu-item
					a(href="#") Правила участия в конкурсе
				li.menu-item
					a(href="#") Data privacy
				li.menu-item
					a(href="#") Use of cookies
				li.menu-item
					a(href="#") Imprint

mixin top-nav()
	+b.top-nav.block-with-lazy
		.container
			+e.row.row.align-items-center
				.col
					+e.logo(href='/')
						img(src="img/svg/CLAGE-Logo.svg" loading="lazy" alt='html')
				.col-auto.d-none.d-lg-block.leftphone
					+TopNavLink("tel:+7 (495) 741-85-10","+7 (495) 741-85-10","phoneblock", 'img/svg/phone1.svg')
				.col-auto.d-none.d-lg-block.rightphone
					+TopNavLink("tel:+7 (495) 290-05-85","+7 (495) 290-05-85","phoneblock" ,'img/svg/phone1.svg')
				.col.text-end.d-none.d-lg-block
					+TopNavLink('mailto:info@clage-russia.ru','info@clage-russia.ru',"mailblock",'img/svg/Mail.svg')
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
						+mob-mnu()
mixin TopNavLink(link,txt,clas,src)
	+e.h-link(href=link, class=clas)
		img(src=src)
		span=txt