.top-nav {
	@include media-breakpoint-down(xl) {
		.mailblock{
			span{
				font-size: 20px;
			}
		}
		.phoneblock{
			span{
				font-size: 20px;
			}
		}
	}
}
.top-nav {
	padding-top: rem(28);

	&__logo {
		margin-left: rem(10);
	}
	.phoneblock {
		font-size: rem(21);

		span {
			line-height: calc(24 / 21);
			padding-left: rem(10);
			letter-spacing: rem(0.16);
			color: var(--phone-block-hover-color,$black);
		}
		:hover{
			--phone-block-hover-color: #{$green}
		}
	}

	.mailblock {
		font-size: rem(21);
		padding-right: rem(1);

		span {
			padding-left: rem(10);
			letter-spacing: rem(0.16);
			color: var(--phone-block-hover-color,$black)
		}
		:hover{
			--phone-block-hover-color: #{$green}
		}
	}

	.rightphone {
		--bs-gutter-x: #{rem(20)};
	}
	.leftphone{
		--bs-gutter-x: #{rem(20)};
	}

	.mob-menu{
		&__inner{
			padding: 20px;
		}
		&__link{
			display: block;
			font-size: 25px;
			line-height: calc(40/30);
			margin-bottom: 10px;
			span{
				margin: 0;
				position: static;
				display: inline;
			}
		}
		&__logo{
			img{
				margin-bottom: 20px;
			}
		}
		.menu{
			list-style: none;
		}
		.menu-item{
			font-size: 17px;
			margin-bottom: 10px;
			a{
				padding: 0;
				color: var(--menu-lia , $black);
			}
			:hover{
				--menu-lia: #{$green}
			}
		}
	}
}


