mixin menu-toggle()
	+b.toggle-menu-mobile--js.d-lg-none
		span 123
mixin mob-mnu()
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.logo(href='/')
				img(src="../img/svg/CLAGE-Logo.svg" loading="lazy" alt='html')
			+e.link(href="+7 (495) 741-85-10") +7 (495) 741-85-10
			+e.link(href="+7 (495) 290-05-85") +7 (495) 290-05-85
			+e.link(href="info@clage-russia.ru") info@clagerussia.ru



mixin top-nav()
	+b.top-nav.block-with-lazy
		.container
			+e.row.row.align-items-center
				.col
					+e.logo(href='/')
						img(src="../img/svg/CLAGE-Logo.svg" loading="lazy" alt='html')
				.col-auto.d-none.d-lg-block.leftphone
					+TopNavLink("+7 (495) 741-85-10","+7 (495) 741-85-10","phoneblock", '../img/svg/phone1.svg')
				.col-auto.d-none.d-lg-block.rightphone
					+TopNavLink("+7 (495) 290-05-85","+7 (495) 290-05-85","phoneblock" ,'../img/svg/phone1.svg')
				.col.text-end.d-none.d-lg-block.textblock
					+TopNavLink('info@clage-russia.ru','info@clage-russia.ru',"mailblock",'../img/svg/mail.svg')
				.col-auto.d-lg-none
					+b.toggle-menu-mobile--js
						span
						+mob-mnu()
mixin TopNavLink(link,txt,clas,src)
	+b.h-link(href=link, class=clas)
		img(src=src)
		span=txt