-var arrayFooter = ["Правила участия в конкурсе","Data privacy","Use of cookies","Imprint"]
mixin mnu()
	ul.menu
		each link in arrayFooter
			li.menu-item: a(href= link.url)= link.arrayFooter
			if link.subnav
				li.menu-item.menu-item-has-children
					a(href="#" ) О нас
					ul.sub-menu
						each sublink in link.subnav
							li.menu-item: a(href= sublink.url)= sublink.name

//- menu